<div class="toolbar" role="banner">
  <span style="padding-left: 10px;">Tasc Coding Challenge</span>
</div>

<div class="content" role="main">
<div class="column">
    <app-shopping-basket header="Shopping Basket 1" [items]="basketOne"></app-shopping-basket>
</div>
<div class="column">
  <app-shopping-basket header="Shopping Basket 2" [items]="basketTwo"></app-shopping-basket>
</div>
 <div class="column"> 
<app-shopping-basket header="Shopping Basket 3" [items]="basketThree"></app-shopping-basket>
</div>
</div>
